<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="betalingsmethodessss">
		<observer instance="Betalingsmethodecheck\Betalingsmethode\Observer\Betalingsmethodessss" name="betalingsmethodecheck_betalingsmethode_observer_betalingsmethodessss_betalingsmethodessss"/>
	</event>
</config>
