<?xml version="1.0"?>
<config>
  <modules>
    <ShopCommerce_Betalingsmethodes>
      <version>0.1.0</version>
    </ShopCommerce_Betalingsmethodes>
  </modules>
  <global>
    <helpers>
      <betalingsmethodes>
        <class>ShopCommerce_Betalingsmethodes_Helper</class>
      </betalingsmethodes>
    </helpers>
	<blocks>
	  <betalingsmethodes>
		<class>ShopCommerce_Betalingsmethodes_Block</class>
	  </betalingsmethodes>
	</blocks>
	<models>
	  <betalingsmethodes>
		<class>ShopCommerce_Betalingsmethodes_Model</class>
		<resourceModel>betalingsmethodes_mysql4</resourceModel>
	  </betalingsmethodes>
	</models>
	<resources>
	  <betalingsmethodes_setup>
		<setup>
		  <module>ShopCommerce_Betalingsmethodes</module>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </betalingsmethodes_setup>
	  <betalingsmethodes_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </betalingsmethodes_write>
	  <betalingsmethodes_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </betalingsmethodes_read>
	  <categoryattribute1520955050_setup>
		<setup>
		  <module>ShopCommerce_Betalingsmethodes</module>
		  <class>Mage_Catalog_Model_Resource_Eav_Mysql4_Setup</class>
		</setup>
		<connection>
		  <use>core_setup</use>
		</connection>
	  </categoryattribute1520955050_setup>
	  <categoryattribute1520955050_write>
		<connection>
		  <use>core_write</use>
		</connection>
	  </categoryattribute1520955050_write>
	  <categoryattribute1520955050_read>
		<connection>
		  <use>core_read</use>
		</connection>
	  </categoryattribute1520955050_read>
	</resources>
  </global>
  <admin>
	<routers>
	  <betalingsmethodes>
	    <use>admin</use>
		<args>
		  <module>ShopCommerce_Betalingsmethodes</module>
		  <frontName>admin_betalingsmethodes</frontName>
		</args>
	  </betalingsmethodes>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <betalingsmethodes module="betalingsmethodes">
		<title>Betalingsmethodes</title>
		<sort_order>100</sort_order>
		<children>
		  <betalingsmethodesbackend module="betalingsmethodes">
			<title>Backend Page Title</title>
			<sort_order>0</sort_order>
			<action>admin_betalingsmethodes/adminhtml_betalingsmethodesbackend</action>
		  </betalingsmethodesbackend>
		</children>
	  </betalingsmethodes>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<betalingsmethodes translate="title" module="betalingsmethodes">
			  <title>Betalingsmethodes</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <betalingsmethodesbackend translate="title">
			<title>Backend Page Title</title>
		  </betalingsmethodesbackend>
			  </children>
			</betalingsmethodes>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<betalingsmethodes>
		  <file>betalingsmethodes.xml</file>
		</betalingsmethodes>
	  </updates>
	</layout>
  </adminhtml>
</config> 