<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
	<acl>
		<resources>
			<resource id="Magento_Backend::admin">
				<resource id="Betalingsmethodecheck_Betalingsmethode::betlaingsmthode" sortOrder="10" title="betlaingsmthode">
					<resource id="Betalingsmethodecheck_Betalingsmethode::betlaingsmthode_save" sortOrder="10" title="Save betlaingsmthode"/>
					<resource id="Betalingsmethodecheck_Betalingsmethode::betlaingsmthode_delete" sortOrder="20" title="Delete betlaingsmthode"/>
					<resource id="Betalingsmethodecheck_Betalingsmethode::betlaingsmthode_update" sortOrder="30" title="Update betlaingsmthode"/>
					<resource id="Betalingsmethodecheck_Betalingsmethode::betlaingsmthode_view" sortOrder="40" title="View betlaingsmthode"/>
				</resource>
				<resource id="Magento_Backend::stores">
					<resource id="Magento_Backend::stores_settings">
						<resource id="Magento_Config::config">
							<resource id="Betalingsmethodecheck_Betalingsmethode::config_betalingsmethodecheck_betalingsmethode" title="inventory"/>
						</resource>
					</resource>
				</resource>
			</resource>
		</resources>
	</acl>
</config>
