<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
	<default>
		<inventory>
			<options>
				<outofstock/>
			</options>
		</inventory>
		<payment>
			<ideal>
				<active>1</active>
				<model>Betalingsmethodecheck\Betalingsmethode\Model\Payment\Ideal</model>
				<order_status>pending</order_status>
				<title>Ideal</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</ideal>
			<paypall>
				<active>1</active>
				<model>Betalingsmethodecheck\Betalingsmethode\Model\Payment\Paypall</model>
				<order_status>pending</order_status>
				<title>Paypall</title>
				<allowspecific>0</allowspecific>
				<group>offline</group>
			</paypall>
		</payment>
	</default>
</config>
