<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Betalingsmethodecheck\Betalingsmethode\Api\BetlaingsmthodeRepositoryInterface" type="Betalingsmethodecheck\Betalingsmethode\Model\BetlaingsmthodeRepository"/>
	<preference for="Betalingsmethodecheck\Betalingsmethode\Api\Data\BetlaingsmthodeInterface" type="Betalingsmethodecheck\Betalingsmethode\Model\Betlaingsmthode"/>
	<preference for="Betalingsmethodecheck\Betalingsmethode\Api\Data\BetlaingsmthodeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Betalingsmethodecheck\Betalingsmethode\Model\ResourceModel\Betlaingsmthode\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">betalingsmethodecheck_betalingsmethode_betlaingsmthode</argument>
			<argument name="resourceModel" xsi:type="string">Betalingsmethodecheck\Betalingsmethode\Model\ResourceModel\Betlaingsmthode\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="betalingsmethodecheck_betalingsmethode_betlaingsmthode_grid_data_source" xsi:type="string">Betalingsmethodecheck\Betalingsmethode\Model\ResourceModel\Betlaingsmthode\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
	<type name="Magento\Framework\Console\CommandList">
		<arguments>
			<argument name="commands" xsi:type="array">
				<item name="betalingsmethodeee" xsi:type="object">Betalingsmethodecheck\Betalingsmethode\Console\Command\Betalingsmethodeee</item>
			</argument>
		</arguments>
	</type>
</config>
